body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin-top: 20px;
}

#imagem-galeria {
    width: 100%; /* Faz a imagem ocupar 100% da largura do container (600px) */
    height: auto;
    border: 5px solid #333;
    border-radius: 8px;
    margin-bottom: 15px;
}

.botoes button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

#status-imagem {
    margin-top: 10px;
    font-weight: bold;
}